#search-container{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #48416b;
    padding: 5px 0px;
    box-shadow: 0 12px 12px -2px rgba(0,0,0,.2);
}

#search-input{
    width: calc(100% - 45px);
    padding: 8px 16px 8px 16px;
    color: #fff;
    background-color: #48416b;
    border: none;
}

#search-input::placeholder{
    color: #fff;
}

#search-button{
    border: none;
    padding: 10px;
    background-color: #48416b;
    color: #fff;;
}

#search-icon{
    width: 25px;
    height: 25px;
}