#search-container{
    margin-top: 20px;
}

#searchInput{
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px 0px 0px 50px;
}

#search-button{
    border: none;
    padding: 20px 25px 20px 20px;
    border-left: solid 1px rgb(216, 212, 212);
    background-color: #fff;
    font-size: 20px;
    border-radius: 0px 50px 50px 0px;
}

#search-button:active{
    background-color: rgb(216, 212, 212);
}

#searchInput:focus, #search-button:focus{
    outline: none;
}

@media screen and (max-width: 450px){
    #searchInput{
        width: 210px;
    }
}
@media screen and (max-width: 350px){
    #searchInput{
        width: 190px;
    }
}