#search-container{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #38345c;
    padding: 5px 0px;
}

#search-input{
    width: 80%;
    padding: 8px 16px 8px 16px;
    color: #fff;
    background-color: #38345c;
    border: none;
}

#search-button{
    width: 20%;
    border: none;
    padding: 10px;
    background-color: #38345c;
    color: #fff;;
}