#Normal{
    background-color: #a8a77a;
}
#Fire{
    background-color: #ee8a30;
}
#Water{
    background-color: #6390f0;
}
#Electric{
    background-color: #f7d02c;
}
#Grass{
    background-color: #7ac74c;
}
#Ice{
    background-color: #96d9dc;
}
#Fighting{
    background-color: #c22e28;
}
#Poison{
    background-color: #a33ea1;
}
#Ground{
    background-color: #e2bf65;
}
#Flying{
    background-color: #a98ff3;
}
#Psychic{
    background-color: #f95587;
}
#Bug{
    background-color: #a6b91a;
}
#Rock{
    background-color: #b6a136;
}
#Ghost{
    background-color: #735797;
}
#Dragon{
    background-color: #6f35fc;
}
#Dark{
    background-color: #705746;
}
#Steel{
    background-color: #b7b7ce;
}
#Fairy{
    background-color: #d685ad;
}