#type-container #Normal{
    background-color: #a8a77a;
}
#type-container #Fire{
    background-color: #ee8a30;
}
#type-container #Water{
    background-color: #6390f0;
}
#type-container #Electric{
    background-color: #f7d02c;
}
#type-container #Grass{
    background-color: #7ac74c;
}
#type-container #Ice{
    background-color: #96d9dc;
}
#type-container #Fighting{
    background-color: #c22e28;
}
#type-container #Poison{
    background-color: #a33ea1;
}
#type-container #Ground{
    background-color: #e2bf65;
}
#type-container #Flying{
    background-color: #a98ff3;
}
#type-container #Psychic{
    background-color: #f95587;
}
#type-container #Bug{
    background-color: #a6b91a;
}
#type-container #Rock{
    background-color: #b6a136;
}
#type-container #Ghost{
    background-color: #735797;
}
#type-container #Dragon{
    background-color: #6f35fc;
}
#type-container #Dark{
    background-color: #705746;
}
#type-container #Steel{
    background-color: #b7b7ce;
}
#type-container #Fairy{
    background-color: #d685ad;
}